@use "../../styles/globals/" as *;
@use "../../styles/parts/" as *;

.houseImg {
  width: 100%;
  height: 250px;
  object-fit: cover;

  @include mq(lg) {
    width: 100%;
    height: 100vh;
  }
}

.comceptImg {
  width: 80px;
  height: 60px;
  object-fit: cover;
  padding: 0 4px;
  cursor: pointer;

  @include mq(lg) {
    width: 220px;
    height: 170px;
  }
}

.conceptComponet {
  transform: translateY(-50px);
  width: 90%;
  height: 280px;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  background-color: rgb(219, 211, 201, 0.8);
  margin: 0 auto;
  z-index: 1;
  @include mq(lg) {
    width: 90%;
    height: 80vh;
  }

  &__Top {
    height: 70%;
    &__Textmain {
      height: 10%;
      font-size: 18px;
      font-weight: 600;
      // display: flex;
      margin: 5px auto;
      text-align: center;
    }
    &__Imgs {
      height: 90%;
      display: flex;
      &__Text {
        flex: 40%;
      }
      &__Img {
        flex: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        .comceptImg {
          width: 80%;
          height: 80%;
          border-radius: 10px;
          object-fit: cover;
        }
      }
    }
  }
  &__item {
    width: 100%;
  }
  &__Imgs {
    @extend .content-width;
  }
  &__buttom {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.2);
    .conceptbox {
      width: 80%;
      height: 100%;
      overflow: hidden;
      display: flex;
      margin: 0 auto;
    }
    &__Imgs {
      @extend .content-width;
      display: flex;
      // justify-content: space-between;
      margin: auto 0;
      // & > :first-child {
      animation: scroll 10s linear infinite;
      // }
    }
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

// .div {
// display: inline;
.Eventinfo {
  width: 100%;
  height: 40vh;
  background-color: rgba(0, 255, 255, 0.1);
  display: flex;
  z-index: -1;
  @include mq(lg) {
    height: 65vh;
  }
  // &__Items {
  //   width: 30%;
  //   height: 100%;
  //   background-color: white;
  //   .Eventinfo__Conteiner {
  //     // overflow: hidden;

  //   }
  // }
}
.Eventinfo__Item {
  p {
    margin-top: 50px;
    margin-left: 10px;
    width: 60px;
    height: 180px;
    background-color: gray;
    border-radius: 10px;
    flex-grow: 1;
    animation: scroll 10s linear infinite;

    @include mq(lg) {
      width: 120px;
      height: 360px;
    }
  }
}
// }
